body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 80px auto;
    text-align: center;
}

textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #22d3ee;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

#message {
    margin-top: 10px;
}